extends layouts/base.pug

block content
  section#recently
    ul.recently-list

  section#main
    ul.main-list
      each emoji in self.emojis
        li
          button.copy-btn #{emoji}

  a.goto-recently(href="#recently") recently
  a.goto-main(href="#main") list
