*,:after,:before {
  box-sizing: border-box;
}

html {
  --font-size: 22px;
  --line-height: 1.4;
  font-family: monospace;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

body {
  margin: 0;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
  animation: turn-on 2s linear;
}

li { list-style-type: none; }

ul {
  padding: 0;
  column-count: 5;
}

li {
  display: inline-block;
  width: 100%;
  padding: .8rem;
  text-align: center;
}

.btn {
  padding: .8rem;
  border: none;
  background-color: #000;
  color: inherit;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
}

.btn:hover  {
  background-color: #000;
  color: #fff;
}

.btn:focus,
.btn:hover,
.btn:active { outline: 1px solid #fff; }
.btn:focus { outline-offset: -4px; }
.btn:active { outline-offset: -8px; }
.btn:active::before {
  content: 'COPIED';
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: monospace;
  font-size: 23vw;
  pointer-events: none;
}

@media (min-width: 1281px) {
  html {
    --font-size: 1.0vw;
  }
}
@media (max-width: 1280px) {
  ul {
    column-count: 4;
  }
}

@media (max-width: 1020px) {
  ul {
    column-count: 3;
  }
}

@media (max-width: 768px) {
  ul {
    column-count: 2;
  }
}

@media (max-width: 480px) {
  ul {
    column-count: 1;
  }
}
